.git
.github
docs
*.md
!CHANGELOG.md
**/*Zone.Identifier
**/Zone.Identifier
node_modules/
t/
tools/
.gitmodules
.gitattributes
.editorconfig
cpanfile
package-lock.json
vite.config.js
.eslintrc.json
.perltidyrc
